<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mihnayan.ito.employees.data.OrganizationTypesMapper">
    <resultMap type="mihnayan.ito.employees.model.OrganizationType" id="organizationTypeResultMap">
        <result property="typeName" column="type_name" />
        <result property="uuid" column="uuid" />
    </resultMap>
    <select id="getOrganizationTypes" resultMap="organizationTypeResultMap">
        select * from ref_ou_types
    </select>
    <select id="getById" resultMap="organizationTypeResultMap">
        select * 
        from
            ref_ou_types
        where
            uuid=#{uuid}
    </select>
    <insert id="saveOrganizationType" parameterType="mihnayan.ito.employees.model.OrganizationType">
        insert into 
            ref_ou_types(uuid, type_name)
        values
            (#{uuid}, #{typeName})
    </insert>
    <update id="update" parameterType="mihnayan.ito.employees.model.OrganizationType">
        update
            ref_ou_types
        set
            type_name=#{typeName}
        where
            uuid=#{uuid}
    </update>
    <delete id="delete">
        delete
        from
            ref_ou_types
        where
            uuid=#{uuid}
    </delete>
</mapper>